# MySQL
MYSQL_ROOT_PASSWORD="root_pass"
MYSQL_DATABASE="db_name"
MYSQL_USER="app_user"
MYSQL_PASSWORD="app_pass"

# Xdebug
XDEBUG_MODE=debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003

# Ports
NGINX_PORT=80
MYSQL_PORT=3306

# Host user UID/GID (run `id -u` and `id -g` to get your values)
WWWDATA_UID=1000
WWWDATA_GID=1000